/*
====================================================================================================================================================================
                                                    Start Slideshow Properties
====================================================================================================================================================================
*/

section#content {
    color: white;
    position: absolute;
    top: 200px;
    left: 400px;

}

img#slide {
    width: 100% ;
    height: auto;

}

/*
====================================================================================================================================================================
                                                    End Slideshow Properties
====================================================================================================================================================================
*/


/*
====================================================================================================================================================================
                                                    Start Featured Courses Properties
====================================================================================================================================================================
*/

div.course {
    width: 400px;
    height: 500px;
    background: white;
    border: 1px solid transparent;
    position: absolute;
    top: 1044px;
    left: 10px;
}

div.course2 {
    width: 400px;
    height: 500px;
    background: white;
    border: 1px solid transparent;
    position: absolute;
    top: 1044px;
    left: 440px;
}

div.course3 {
    width: 400px;
    height: 500px;
    background: white;
    border: 1px solid transparent;
    position: absolute;
    top: 1044px;
    left: 860px;
}

h6 {
	font-size: 1em;
}

/*
====================================================================================================================================================================
                                                    End Featured Courses Properties
====================================================================================================================================================================
*/


/*
====================================================================================================================================================================
                                                    Start About Section Properties
====================================================================================================================================================================
*/

section#about {

    background: #708090;
    position: absolute;
    top: 1700px;
    left: 0;
}

div.about {
	color: white;
	text-align: center;
}

div.students {
    width: 250px;
    height: 200px;
    background: #36454F;
    text-align: center;
    color: white;
    position: absolute;
    top: 212px;
    left: 25px;
}

div.reviews {
    width: 250px;
    height: 200px;
    background: #36454F;
    text-align: center;
    color: white;
    position: absolute;
    top: 212px;
    left: 335px;
}

div.courses {
    width: 250px;
    height: 200px;
    background: #36454F;
    text-align: center;
    color: white;
    position: absolute;
    top: 212px;
    left: 640px;
}

div.content {
    width: 250px;
    height: 200px;
    background: #36454F;
    text-align: center;
    color: white;
    position: absolute;
    top: 212px;
    left: 970px;
}

/*
====================================================================================================================================================================
                                                    End About Section Properties
====================================================================================================================================================================
*/

/*
====================================================================================================================================================================
                                                    Start Learn Tech Section Properties
====================================================================================================================================================================
*/

div.learntechnow {
    width: 400px;
    height: 500px;
    background: white;
    border: 1px solid transparent;
    position: absolute;
    top: 2500px;
    left:25px;
}

div.learntechpodcast {
    width: 400px;
    height: 500px;
    background: white;
    border: 1px solid transparent;
    position: absolute;
    top: 2500px;
    left: 450px;
}

div.learntechblog {
    width: 400px;
    height: 500px;
    background: white;
    border: 1px solid transparent;
    position: absolute;
    top: 2500px;
    left: 870px;
}

.h1lt {

    position: absolute;
    top: 2320px;
    left: 614px;

}

/*
====================================================================================================================================================================
                                                    End Learn Tech Section Properties
====================================================================================================================================================================
*/

/*
====================================================================================================================================================================
                                                    Start Footer
====================================================================================================================================================================
*/


p#footer {
    text-align: center;
    color: white;
    margin-top: 32px;
    font-size: 1em;
}

/*
====================================================================================================================================================================
                                                    End Footer
====================================================================================================================================================================
*/
