/*
====================================================================================================================================================================
                                                    Start Tech Support Page
====================================================================================================================================================================
*/

#computer {
    position: absolute;
    top: 250px;
    left: 50px;
}

.text {
    position: absolute;
    top: 200px;
    left: 533px;
}

#computer2 {
    position: absolute;
    top: 700px;
    left: 50px;
}

.text2 {
    position: absolute;
    top: 650px;
    left: 533px;
}

#computer3 {
    position: absolute;
    top: 1100px;
    left: 50px;
}

.text3 {
    position: absolute;
    top: 1050px;
    left: 533px;
}

footer#techsupport {
    width: 1300px;
    height: 80px;
    background: #172035;
    position: absolute;
    top: 1579px;
    left: 0;
}

p#footer {
    text-align: center;
    color: white;
    margin-top: 32px;
    font-size: 1em;
}

/*
====================================================================================================================================================================
                                                    End Tech Support Page
====================================================================================================================================================================
*/
